<div class="container">
  <h1 class="text-center">Астероиды</h1>

  <div class="content-container input-section">
    <app-input-box type="date" label="Начальная дата:" [(value)]="start_date"/>
    <app-input-box type="date" label="Конечная дата:" [(value)]="end_date"/>
    <app-button (onClick)="getAsteroids()">Отправить запрос</app-button>
  </div>

  <app-spinner [isLoading]="loading"></app-spinner>

  <div *ngIf="!loading && asteroidData">
    <div class="content-container date-tabs-container">
      <div class="date-tab" *ngFor="let date of Object.keys(asteroidData)">
        <button (click)="selectDateTab(date)" [class.active]="selectedDate === date">{{ date }}</button>
      </div>
    </div>

    <div class="content-container asteroids-container" *ngIf="selectedDate">
      <div class="asteroid-card" *ngFor="let asteroid of asteroidData[selectedDate]" (click)="openAsteroidDetails(asteroid.id)">
        <div class="asteroid-info">
          <div class="asteroid-name">{{ asteroid.name }}</div>
          <div class="asteroid-diameter">
            <span class="bold">Estimated Diameter:</span> {{ asteroid.estimated_diameter.kilometers.estimated_diameter_min }}
            - {{ asteroid.estimated_diameter.kilometers.estimated_diameter_max }} km
          </div>
          <div class="asteroid-approach">
            <span class="bold">Close Approach Date:</span> {{ asteroid.close_approach_data[0].close_approach_date_full }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
